<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgChrvByT4vj9wCFUClkKJ1cCgZj-2uhE</string>
	<key>GCM_SENDER_ID</key>
	<string>182067948842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fishRadarSc.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fish-radar-feedback</string>
	<key>STORAGE_BUCKET</key>
	<string>fish-radar-feedback.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182067948842:ios:ad35013dd5a92dab854253</string>
</dict>
</plist>